*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.title {
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;

}

.content__accent {
  color: #545050;
  opacity: 0.5;

}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-width: 1140px;
  gap: 28px;
  padding-left: 30px;
}

.content__list {
  gap: 30px;
  width: 400px;
 
}

.search-form {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-top: 20px;
  
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  border-left: none;
  border-right: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible):not(:focus) {
  border: 2px solid #757575;
}

.search-form__textfield::placeholder {
  color: rgba(109, 109, 109, 0.7);
}

.content__list-container {
  position: relative;
  display: flex;
  margin-bottom: 115px;
  flex-direction: column;
  height: 298px;
  overflow-y: auto;
  width: 411px;
}

.content__list-item {
  padding: 0 4px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 25px;
}

.content__card-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
    outline: 1px solid #ffffff;
}

.content__card-link_current {
  outline: 1px solid #ffffff;
}

.content__video-card-title {
  width: 199px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  white-space: nowrap; /* запрет переноса текста */
  overflow: hidden; /* скрывает текст за границами контейнера */
  text-overflow: ellipsis; /* добавляет многоточие */
  margin-top: 5px;
}

.content__video-card {
  display: flex;
  width: 390px;
  flex-direction: row;
  align-items: flex-start;
  
}

ul li:not(:last-child) {
  margin-bottom: 30px;
}

.content__list:last-child {
  margin-bottom: 0;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-position: center;
  
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description-container {
  flex-grow: 1;

}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  gap: 16px;
  opacity: 1;
  overflow: hidden;
}

.result__video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.button {
  height: 34px;
  width: 194px;
  border: 1px solid currentColor;
  color: #ffffff;
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: transparent;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  font-style: Bold;
  font-weight: 700;
  text-align: center;
  cursor: pointer
}


.search-form__submit-button {
  align-self: flex-end;
  
}

.more-button {
  width: 390px;
  min-height: 34px;
  margin-top: 30px;
  margin-left: 2px;
  
}

.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.button:active {
  color: #fff;
  background-color: #727272;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 2px solid #ffffff;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 5px;
}

.search-form__textfield {
  width: 225px;
  
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  
}

.custom-scrollbar {
 width: 404px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #7e7e7e;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 10px;
}

.search-form__fieldset {
  border: none;
}

.search-form__pseudo-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  padding: 1px;
  box-sizing: border-box;
  cursor: pointer
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__text {
  text-decoration: underline;
}



.search-form__input:hover {}